In [1]:
import MySQLdb

In [30]:
conn = MySQLdb.connect(host="localhost",user="root",password="",db="login_info")

In [24]:
conn.client_flag

10461837

In [20]:
s ="062"

In [35]:
y =False

In [36]:
ss=str(y)

In [31]:
cur = conn.cursor()

In [38]:
cur.execute("INSERT INTO attendance VALUES(%s)", (ss))

ProgrammingError: not all arguments converted during bytes formatting

In [39]:
conn.commit()

In [57]:
import datetime

In [58]:
now=str(datetime.datetime.today())

In [61]:
now[:4]

'2019'

In [43]:
cur.execute("INSERT INTO attendance VALUES(%s,%s)", [ss,now])

1

In [1]:
!pip install md5

Collecting md5

  Could not find a version that satisfies the requirement md5 (from versions: )
No matching distribution found for md5

In [2]:
import hashlib

In [9]:
md5=hashlib.md5(b"admin")

In [11]:
print(md5)

<md5 HASH object @ 0x0000027495CA2558>

In [12]:
md5.digest()

b'!#/)zW\xa5\xa7C\x89J\x0eJ\x80\x1f\xc3'

In [13]:
import md5

ModuleNotFoundError: No module named 'md5'

In [15]:
result = 1
res_id = 1

In [16]:
if((result is 1) and (res_id is 1)):
    print(True)

True

In [8]:
course_code = "17CS51"

In [81]:
i  = cur.execute("SELECT c_name from course WHERE binary c_code=%s", [course_code])

In [82]:
str(cur.fetchone())[2:5]

'ne'

In [49]:
lists = str(cur.fetchone())

In [66]:
print(lists[2:5])

M&E

In [97]:
a="1453"
b="hi"
c="ci"
d="bye"

In [98]:
cur.execute("INSERT INTO course (c_code,c_name,c_credits,c_sem) VALUES(%s, %s, %s, %s)",[a,b,c,d])

1

In [99]:
cur.fetchall()

()

In [8]:
s="061"
cur.execute("SELECT username,branch,student_email,phone from student_login where roll_id=%s",[s])

1

In [9]:
val=cur.fetchall()

In [15]:
val

(('Rajath', None, 'ra@gmail.com', None),)

In [13]:
val[0][0]

'Rajath'

In [14]:
val[0][1]

In [18]:

f_id = "MJ12"
course_code="17CS52"
sec="b"
acd_yr="2019"

In [22]:
cur.execute("INSERT INTO teach VALUES(%s, %s, %s, %s)", [f_id,course_code,sec,acd_yr])

OperationalError: (2013, 'Lost connection to MySQL server during query')

In [28]:
cur.execute("INSERT INTO teach VALUES(%s, %s, %s, %s)", [f_id,course_code,sec,acd_yr])

1

In [29]:
HI

NameError: name 'HI' is not defined

In [33]:
cur.execute("SELECT t.faculty_id from teach t, faculty f where t.faculty_id=f.faculty_id")

OperationalError: (1052, "Column 'faculty_id' in field list is ambiguous")