In [1]:
import MySQLdb

In [2]:
conn = MySQLdb.connect(host="localhost",user="root",password="",db="login_info")

In [3]:
conn.client_flag

10461837

In [49]:
s ="062"

In [35]:
y =False

In [36]:
ss=str(y)

In [5]:
cursor = conn.cursor()

In [51]:
cur.execute("INSERT INTO attendance VALUES(%s)", (ss))

NameError: name 'ss' is not defined

In [39]:
conn.commit()

In [80]:
import datetime

In [58]:
now=str(datetime.datetime.today())

In [61]:
now[:4]

'2019'

In [43]:
cur.execute("INSERT INTO attendance VALUES(%s,%s)", [ss,now])

1

In [1]:
!pip install md5

Collecting md5

  Could not find a version that satisfies the requirement md5 (from versions: )
No matching distribution found for md5

In [2]:
import hashlib

In [9]:
md5=hashlib.md5(b"admin")

In [11]:
print(md5)

<md5 HASH object @ 0x0000027495CA2558>

In [12]:
md5.digest()

b'!#/)zW\xa5\xa7C\x89J\x0eJ\x80\x1f\xc3'

In [13]:
import md5

ModuleNotFoundError: No module named 'md5'

In [15]:
result = 1
res_id = 1

In [16]:
if((result is 1) and (res_id is 1)):
    print(True)

True

In [8]:
course_code = "17CS51"

In [81]:
i  = cur.execute("SELECT c_name from course WHERE binary c_code=%s", [course_code])

In [82]:
str(cur.fetchone())[2:5]

'ne'

In [49]:
lists = str(cur.fetchone())

In [66]:
print(lists[2:5])

M&E

In [97]:
a="1453"
b="hi"
c="ci"
d="bye"

In [98]:
cur.execute("INSERT INTO course (c_code,c_name,c_credits,c_sem) VALUES(%s, %s, %s, %s)",[a,b,c,d])

1

In [99]:
cur.fetchall()

()

In [43]:
s="061"
cur.execute("SELECT username,branch,student_email,phone from student_login where roll_id=%s",[s])

1

In [44]:
val=cur.fetchall()

In [45]:
val

(('Rajath', None, 'ra@gmail.com', None),)

In [13]:
val[0][0]

'Rajath'

In [14]:
val[0][1]

In [18]:

f_id = "MJ12"
course_code="17CS52"
sec="b"
acd_yr="2019"

In [22]:
cur.execute("INSERT INTO teach VALUES(%s, %s, %s, %s)", [f_id,course_code,sec,acd_yr])

OperationalError: (2013, 'Lost connection to MySQL server during query')

In [28]:
cur.execute("INSERT INTO teach VALUES(%s, %s, %s, %s)", [f_id,course_code,sec,acd_yr])

1

In [29]:
HI

NameError: name 'HI' is not defined

In [93]:
cur.execute("SELECT faculty_id from teach order by datetime desc limit 1")

1

In [37]:
SELECT TOP 1 * FROM Table ORDER BY ID DESC

SyntaxError: invalid syntax (<ipython-input-37-bc2ea06d3f45>, line 1)

In [94]:
cur.fetchone()[0]

'NL12'

In [ ]:
cur.execute("SELECT username,branch,student_email,phone from student_login where roll_id=%s",[s])

In [82]:
print(datetime.datetime.now())

2019-11-06 00:16:03.994562

In [7]:
cur.execute("SELECT username,branch,student_email,phone from student_login where roll_id=%s",["1KG17CS101"])

1

In [8]:
va = cur.fetchall()

In [10]:
va[0][0]

'Parinita'

In [5]:


course_id="17CS52"
roll_id = "061"
ia1,ia2,ia3=30,30,30

In [18]:
cursor.execute("INSERT into marks (c_code,roll_id,ia1,ia2,ia3) VALUES(%s, %s, %s, %s, %s)", [course_id,roll_id,ia1,ia2,ia3])

1

In [6]:
ia1

30

In [7]:
ia3

30

In [9]:
type(ia2)

int

In [19]:
conn.commit()

In [20]:
validation_c_code = 0

In [23]:
if (validation_c_code is not 1):
    print(not 1)

False

In [24]:
res=1

In [25]:
if(res is 1):
    print(1)

1

In [23]:
cursor.execute("SELECT faculty_id,c_code from teach order by datetime desc limit 1")

1

In [24]:
fid = cursor.fetchall()[0][1]

In [25]:
fid

'17CS52'

In [19]:
roll_id="061"

In [14]:
cursor.execute("SELECT m.ia1,m.ia2,m.ia3,c.c_code from marks m, course c where c.c_code=%s and m.roll_id=%s",[fid,roll])

3

In [15]:
cursor.fetchall()[0]

(26, 29, 30, '17CS52')

In [20]:
cursor.execute("SELECT c_code,roll_id from course,student where c_code=%s and roll_id=%s", [fid,roll_id])

1